@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@Layer components{
  .headerHover{
    @apply px-2 h-[80%] flex items-center border border-transparent hover:border-white cursor-pointer duration-100
  }
}



