*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgba(0, 0, 0, 0.792);
}

.border{
    
    color:white;
    width: 40vw;
    height: 80vh;
    display:flex;
    margin: 3rem auto;
    padding-top:1.5rem;
    align-items: center;
    flex-direction: column;
    border: 2px solid white;
}
.input-field{
    
    margin: 1rem 1rem 0.7rem 1rem ;

}
.input-field input{
    margin-right: 1rem;
    border-radius: 12px;
    height: 30px;
    width: 250px;
}

.input-field button{
   border-style: none;
    padding:7px 7px;
    border-radius: 50%;
}


.list-items{
    display: flex;
    justify-content:space-between ;
   width:35vw;
    padding: 1rem 1rem;
    background-color: rgb(0, 255, 255);
    border-radius: 32px;
    margin-top:5px;
}

.list-items p{
    
    font-size: 1rem;
    font-weight: 700;
    color:black;
    margin-top:5px;

}
.list-items .click button{
    margin:0 5px;
    border-radius: 50%;
    padding: 7px 7px;
    border-style:none ;
}

@media screen and (max-width:500px) {

    
}